<%= form_for(@model) do |f| %>
  <div class="field">
    <label>Number</label><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <label>Name</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
