  <div style="width:75%;padding-top: 10%;" align="center">
    <div style="float:left;"><label><b>Make</b></div>
    <div style="float:right; width:63%"><%= collection_select(:model, :make_id, @makes, :id, :name, {:prompt => 'Select Make'})%></div>
  </div>
  <div style="width:75%;padding-top: 12%;" align="center">
    <div style="float:left;"><label><b>Model Number</b></label></div>
    <div style="float:right;"><input type="text" value="<%= @model.number%>" id="model_number" name="model[number]"></div>
  </div>
  <div style="width:75%;padding-top: 12%;" align="center">
    <div style="float:left;"><label><b>Description</b></label></div>
    <div style="float:right;"><input type="text" value="<%= @model.description%>" id="model_description" name="model[description]"></div>
  </div>
