<%= form_for(@model) do |f| %>
  <div class="field">
    <b><label>Number</label></b><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <b><label>Description</label></b><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
