<h1>Listing models</h1>

<table class="borderedTable">
  <tr>
    <th>Name</th>
  </tr>

<% @models.each do |model| %>
  <tr onclick="openPage('models', <%= model.id %>)">
    <td><%= model.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model', new_model_path %>
