<h1>Listing Models</h1>

<table class="borderedTable">
  <tr>
    <th>S. No.</th>
    <th>Name</th>
  </tr>

  <% i = 1 %>

  <% @models.each do |model| %>
    <tr onclick="openPage('models', <%= model.id %>)">
      <td><%= i %></td>
      <td><%= model.name %></td>
    </tr>
    <% i = i + 1 %>
  <% end %>
</table>

<br />

<%= link_to 'New Model', new_model_path %>
