<div style="width: 60%; padding-top: 1%; width: 100%">
  <span class="heading" style="float: left">Parts</span>
  <span  style="float: right"><a onclick="Part.newEntity()" class="button_link">New Part</a>
  <img id="spinner_new" style="display:none;" src="/images/spinner.gif"/></span>
</div>
<!--<% start_count = 20*(Integer(@page)-1)+1%>
<% end_count = ((@parts.length<20)?@parts.length: 20)-1%>
Records <%= String(start_count)%> to <%=String(start_count+end_count)%> of <%= @total_parts %>
-->
<div id="part_result" name="part_result" style="padding-top: 5%; width: 100%">
  <%= render 'result' %>
</div>
</div>
<div name="dialog_create" id="dialog_create" class="popup" title="<font color='#60AFFE'>Create New Part</font>"></div>
<div name="dialog_update" id="dialog_update" class="popup" title="<font color='#60AFFE'>Update Part</font>"></div>
<script type="text/javascript">
  $(".popup").dialog({
    autoOpen : false,
	width : 350,
	height : 350,
	modal : true
  });
</script>
