  <div style="width:75%;padding-top: 12%;" align="center">
    <div style="float:left;"><label><b>Make Name</b></label></div>
    <div style="float:right;"><input type="text" value="<%= @make.name%>" id="make_name" name="make[name]"></div>
  </div>
  <div style="width:75%;padding-top: 12%;" align="center">
    <div style="float:left;"><label><b>Description</b></label></div>
    <div style="float:right;"><input type="text" value="<%= @make.description%>" id="make_description" name="make[description]"></div>
  </div>
