select, input{
	width:100%; 
	color: #60AFFE;
}
table.borderedTable{ 
	border-collapse:collapse;
	border-top:1px solid black;
	border-right:1px solid black; 
	border-left:1px solid black; 
	border-color: #60AFFE;
	padding:4px; 
	width:100%;
}
table.borderedTable th{ 
	background-color: #60AFFE; 
	padding:4px;
	color:white;
}
table.borderedTable td{ 
	border-bottom:1px solid #60AFFE;
	border-right:1px solid #60AFFE; 
	border-left:1px solid #60AFFE; 
	color:black;
	padding:4px; 
}
a.sort_asc {
	display: block;
	background-image: url("/images/sort_asc.png");
	background-position: right;
	background-repeat: no-repeat;
	text-align: left;
	color:white;
	text-decoration: none;
	background-size: 12px;
    cursor: pointer;
}
a.sort_desc {
	display: block;
	background-image: url("/images/sort_desc.png");
	background-position: right;
	background-repeat: no-repeat;
	text-align: left;
	color:white;
	text-decoration: none;
	background-size: 12px;
    cursor: pointer;
}
a.sort_default {
	display: block;
	margin-left: 0px;
	background-image: url("/images/sort_default.png");
	background-size: 12px;
	background-position: right;
	background-repeat: no-repeat;
	text-align: left;
	color:white;
	text-decoration: none;
    cursor: pointer;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size:20pt;
	color: #60AFFE;
	float: left;
}
label{
	font-weight: 200;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #60AFFE;
}
.button_link{
    text-decoration: none;
    border: 1px solid #60AFFE; 
    padding: 0.5em 0.7em;
    display: block;
    float: left;
    margin-right: 1px;
	font-weight: 200;
	color: white;
	border-radius: 10px;
	background-color: #60AFFE;
}
.button_link:hover{
    cursor: pointer;
    padding: 0.6em 0.8em;
	font-weight: 250;
	color: white;
	border-radius: 10px;
}
.button_image:hover{
    cursor: pointer;
    width:35px;
    height:35px;
}
.button_image{
    width:30px;
    height:30px;
}
.menu_div a{
	text-decoration:none;
	font-size:15px;
	font-weight: 250;
	width: 100%;
	height: 100%;
	color: white;
	margin-left: 15%;
}
.menu_div:hover{
	background-color: #FAAFBE;
	cursor: default;
}
.success{
	font-size:10pt;
	font-style:italic;
	color:#00CC00;
}
.failure{
	font-size:10pt;
	font-style:italic;
	color:red;
}
.delete_image{
    height: 10px;
    width: 15px;
}
.edit_image{
    height: 15px;
    width: 15px;
}
.edit_image:hover{
    cursor: pointer;
    height: 17px;
    width: 17px;
}
.delete_image:hover{
    cursor: pointer;
    height: 12px;
    width: 17px;
}
.inline_textbox{
	width: 90%; 
}
#priceMenuDivMain {
     visibility: hidden;
     position: absolute;
     left: 100%;
     width:120px;
     margin: 3px auto;
     padding:15px;
	 border-radius: 10px;
	 background-color: #FAAFBE;
}
.partPriceMenuLinkMain{
	color: white;
	font-size: 15px;
}
.partPriceMenuLinkSub{
	color: #3300FF;
	font-size: 12px;
}
.partPriceMenuLinkMain:hover{
	cursor: default;
}
.partPriceMenuLinkSub:hover{
	cursor: pointer;
}
.admin_action{
	visibility: hidden;
}
