.width_medium{
  width: 125px;
}
.width_large{
  width: 200px;
}
.width_medium_grey{
  width: 125px;
  background-color: #F8F8F8
}
.medium_lbl{
  width: 125px;
  display: inline-block;
}
.medium_lbl_grey{
  width: 125px;
  display: inline-block;
  background-color: #D8D8D8; 
}
.big_lbl_grey{
  width: 200px;
  display: inline-block;
  background-color: #D8D8D8; 
}
.border{
  border-width: .1em; 
  border-style: solid; 
  border-color: #D8D8D8; 
}
.top_pad_40{
  padding-top: 40px;
}
.top_pad_20{
  padding-top: 15px;
}
.div_button_bottom{
  padding-top: 1%;
  margin-left: 35%;
}
.large_div_bottom{
  margin-top: 2%;
  margin-left: 45%;
}
.large_div{
  position: absolute;
  left: 650px;
}
.plain_button{
  background-color: #D8D8D8; 
  width: 100px;
}
.small_button{
  background-color: #D8D8D8; 
  width: 65px;
}
.remove_image {
    height: 10px;
    width: 15px;
}
.edit_image {
    height: 15px;
    width: 15px;
}
.edit_image:hover {
    cursor: pointer;
    height: 17px;
    width: 17px;
}
.remove_image:hover{
    cursor: pointer;
    height: 12px;
    width: 17px;
}

.small_text {
    height: 75px;
    width: 210px;
}
.small_text_area {
    height: 75px;
    width: 210px;
}
.medium_text_area {
    height: 150px;
    width: 250px;
}
/*tr:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}*/

.popup {
	top:150;
	border:solid 5px #d9d8d8;
	background-color:white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	width: 80px;
}

table.borderedTable { border-collapse:collapse;border-top:1px solid black;padding:4px; border-right:1px solid black; border-left:1px solid black; border-color: #60AFFE}
table.borderedTable td{ border-bottom:1px solid #60AFFE;padding:4px; border-right:1px solid #60AFFE; border-left:1px solid #60AFFE; color:#3232CC}
table.borderedTable th { padding:4px;background-color: #60AFFE; color:#EFFBFE}
h1, span.heading {
	margin: 0;
	padding: 0;
	font-weight: 200;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20pt;
	color: #1C86EE;
}
.button_link {
    text-decoration: none;
    border: 1px solid #60AFFE; 
    padding: 0.5em 0.7em;
    display: block;
    float: left;
    margin-right: 1px;
	font-weight: 200;
	color: #EFFBFE;
	border-radius: 10px;
	background-color: #60AFFE;
}
.button_link:hover {
    padding: 0.6em 0.8em;
	font-weight: 250;
	color: white;
	border-radius: 10px;
	background-color: #1E90FF;
}
.menu_div a{
	font-size:10pt;
	font-weight: 250;
	width: 150px;
	color: #3232CC; 
}
.menu_div:hover{
	width: 150px;
	color: #3232CC; 
	background-color: #3232CC;
}
.menu_div a:hover {
	height:20px;
	color: white; 
}
a {
	text-decoration:none;
}
.success 
{
font-size:10pt;
font-style:italic;
color:green;
}
.failure 
{
font-size:10pt;
font-style:italic;
color:red;
}
