<script src="/javascripts/vendorjs/angular.min.js"></script>
<script src="/javascripts/user.js"></script>

<div>
  <span class="heading">Users</span>
</div>

<div style="padding-top: 5%; width:50%" ng-app="user" ng-controller="UserCtrl">
	
  <div ng-repeat="errorMsg in errorMessages" ng-show="errorMessages" class="failure">
    {{errorMsg}}
  </div>
  <div ng-show="successMessage" class="success">
    {{successMessage}}
  </div>
  <div style="float: right">
    <img src="/images/plus.jpg"/ ng-click="createEnabled = !createEnabled" class="button_image">
  </div>
  <div style="margin-right:10%;float:left">
    <table class="borderedTable">
	  <tr>
	    <th width="15%">User Name</th>
	    <th width="15%">Role</th>
	    <th width="5%">Action</th>
      </tr>
	  <tr ng-show="createEnabled">
	    <td>
		  <input ng-model="user.username"/>
		</td>
		<td>
		  <input ng-model="user.role"/>
		</td>
		<td>
	      <span style="margin-left: 15%;">
		    <img src="/images/right_green.jpg" class="edit_image" ng-click="createEnabled = !createEnabled;createUser(user)"/>
		  </span>
		  <span style="margin-left: 15%;">
			<img src="/images/wrong_red.jpg" class="edit_image" ng-click="createEnabled = !createEnabled"/>
		  </span>
		</td>
      </tr>
	  <tr ng-repeat="user in users" ng-show="user">
        <td>
    	  <label ng-hide="editorEnabled">{{user.username}}</label>
    	  <input ng-show="editorEnabled" ng-model="user.username"/>
        </td>
        <td>
    	  <label ng-hide="editorEnabled">{{user.role}}</label>
    	  <input ng-show="editorEnabled" ng-model="user.role"/>
        </td>
		<td>
    	  <span ng-hide="editorEnabled">
	        <span style="margin-left: 5%;">
	    	  <img src="/images/pencil_edit.jpg" class="edit_image" ng-click="editorEnabled = !editorEnabled"/>
			</span>
			<span style="margin-left: 5%;">
	    	  <img src="/images/minus_red.jpg" class="edit_image" ng-click="deleteUser(user)"/>
			</span>
			<span style="margin-left: 5%;">
	    	  <img src="/images/change_pwd.jpg" class="edit_image" ng-click="showChangePassword(user)"/>
			</span>
		  </span>
		  <span ng-show="editorEnabled">
			<span style="margin-left: 5%;">
			  <img src="/images/right_green.jpg" class="edit_image" ng-click="editorEnabled = !editorEnabled;saveUser(user)"/>
			</span>
			<span style="margin-left: 5%;">
			  <img src="/images/wrong_red.jpg" class="edit_image" ng-click="editorEnabled = !editorEnabled;"/>
			</span>
		  </span>
		</td>
      </tr>
	</table>
  </div>
  <div style="clear: both"></div>
  <div ng-show="changePassword"style="margin-top: 20%;margin-right:10%">
    <div ng-repeat="errorMsg in passwordErrorMessage" ng-show="passwordErrorMessage" class="failure">
  	  {{errorMsg}}
    </div>
	<div style="border: 1px solid #60AFFE; width: 100%">
	  <div class="header_div">Change Password</div>
	  <div style="margin-top: 20px">
	    <div style="float: left; width:40%"><label><b>User Name</b></label></div>
	    <div style="float: left; width:40%"><label>{{changePasswordUser.username}}</label></div>
	    <div style="clear: both"></div>
	  </div>
	  <div style="margin-top: 20px">
	    <div style="float: left; width:40%"><label><b>Password</b></label></div>
	    <div style="float: left; width:40%"><input ng-model="changePasswordUser.password" placeholder="Type new password..."/></div>
	    <div style="clear: both"></div>
	  </div>
	  <div style="margin-top: 20px">
	    <div style="float: left; width:40%;"><label><b>Confirm Password</b></label></div>
	    <div style="float: left; width:40%"><input ng-model="changePasswordUser.password_confirmation" placeholder="Retype new password..."/></div>
	    <div style="clear: both"></div>
	  </div>
	  <div style="margin-top: 20px; margin-left: 35%; margin-bottom: 5%">
	    <a ng-click="updatePassword()" class="button_link">Change</a>
		<a ng-click="changePassword = !changePassword" class="button_link">Cancel</a>
	    <div style="clear: both"></div>
	  </div>
	</div>
  </div>
<div>
	
<!--alignment of elements in change pwd box.-->