<div align="center">
<form id="createForm">
  <%= render 'form' %>
  <div style="padding-top: 15%;padding-left: 35%;">
	<a onclick="Customer.createEntity()" class="button_link"><font color="#EFFBFE">Save</a>
	<img id="spinner_create" style="display:none;" src="/images/spinner.gif"/>
	<a onclick="Customer.closeDialog('dialog_create');" class="button_link"><font color="#EFFBFE">Cancel</a>
  </div>
</form>
</div>
