<div align="left">
<div style="padding-top: 7%">
    <div style="width:25%; float: left; padding-left: 5%"><label><b>Part</b></label></div>
    <div style="width:40%; float: left"><%= collection_select(:price, :part_id, @parts, :id, :number, {:prompt => 'Select Part'})%></div>
</div><br/>
<div style="padding-top: 7%; padding-left: 5%">
    <div style="width:25%; float: left"><label><b>Customer</b></label></div>
	<div style="width:40%; float: left"><%= collection_select(:price, :customer_id, @customers, :id, :name, {:prompt => 'Select Customer'})%></div>
</div><br/>
<div style="padding-top: 7%; padding-left: 5%">
    <div style="float:left;width:25%"><label><b>Currency</b></label></div>
	<div style="float:left;width:40%"><%= collection_select(:price, :currency_id, @currencies, :id, :name, {:prompt => 'Select Currency'})%></div>
</div><br/>
<div style="padding-top: 7%; padding-left: 5%">
    <div style="float:left;width:25%"><label><b>Price</b></label></div>
    <div style="float:left;width:40%"><input type="text" value="<%= @price.value%>" id="price_value" name="price[value]"></div>
</div>
</div>
