<div>
  <span class="heading">{{make}}</span>
</div>

<div style="padding-top: 5%; widows: 100%"></div>
	
<div ng-repeat="errorMsg in errorMessages" ng-show="errorMessages" class="failure">
  {{errorMsg}}
</div>

<div ng-show="successMessage" class="success">
  {{successMessage}}
</div>

<div style="padding-top: 2%" align="left">
  <div style="width: 25%;float: left;">
    <div style="float: left; width:23%"><label class = "medium_lbl_grey">Model</label></div>
	<div style="float: right; width:77%"><input type="text" ng-model="search.model" /></div>
  </div>
  <div style="width: 25%;float: left;padding-left: 5%">
    <div style="float: left; width:18%"><label class = "medium_lbl_grey">Part</label></div>
	<div style="float: right; width:82%"><input  ng-model="search.part_number" type="text" /></div>
  </div>
</div>

<div id="results" name="results" style="padding-top: 3%; width: 100%">
  <div style="float: right" class="admin_action" >
    <span style="float: left">
      <img id="spinner_search" src="/images/plus.jpg" ng-click="createEnabled = !createEnabled" class="button_image">
    </span>
  </div>

  <div style="float:left;width:100%">
	<table class="borderedTable">
	  <tr>
	    <th width="7%">S. No.</th>
	    <th width="13%"><a ng-click="changeSortOrder('model')" class="{{getSortClass('model')}}">Model</a></th>
	    <th width="13%"><a ng-click="changeSortOrder('part_number')" class="{{getSortClass('part_number')}}">Part Number</a></th>
	    <th width="25%"><a ng-click="changeSortOrder('part_desc')" class="{{getSortClass('part_desc')}}">Part Description</a></th>
	    <th width="10%"><a ng-click="changeSortOrder('weight')" class="{{getSortClass('weight')}}">Weight(Kg)</a></th>
	    <th width="10%"><a ng-click="changeSortOrder('price')" class="{{getSortClass('price')}}">Price({{currency}})</a></th>
	    <th width="7%" class="admin_action">Action</th>
	  </tr>
	  <tr ng-show="createEnabled" class="admin_action" >
        <td></td>
        <td><input ng-model="part_price.model"/></td>
        <td><input ng-model="part_price.part_number"/></td>
        <td><input ng-model="part_price.part_desc"/></td>
        <td><input ng-model="part_price.weight"/></td>
        <td><input ng-model="part_price.price"/></td>
        <td>
          <span style="margin-left: 15%;">
		    <img src="/images/right_green.jpg" class="edit_image" ng-click="createPartPrice(part_price)"/>
		  </span>
		  <span style="margin-left: 15%;">
			<img src="/images/wrong_red.jpg" class="edit_image" ng-click="createEnabled = !createEnabled"/>
		  </span>
        </td>
      </tr>
  	  <tr id="part_prices_{{part_price.id}}" ng-repeat="part_price in part_prices  | filter:search | orderBy : sort:order" ng-show="part_price">
        <td><label>{{$index + 1}}</label></td>
		<td>
	      <label ng-hide="editEnabled">{{part_price.model}}</label>
	      <input ng-show="editEnabled" ng-model="part_price.model" class="search_model_form"/>
		</td>
		<td>
	      <label ng-hide="editEnabled">{{part_price.part_number}}</label>
	      <input ng-show="editEnabled" ng-model="part_price.part_number"/>
		</td>
		<td>
	      <label ng-hide="editEnabled">{{part_price.part_desc}}</label>
	      <input ng-show="editEnabled" ng-model="part_price.part_desc"/>
		</td>
		<td>
	      <label ng-hide="editEnabled">{{part_price.weight}}</label>
	      <input ng-show="editEnabled" ng-model="part_price.weight"/>
		</td>
	    <td>
	      <label ng-hide="editEnabled">{{part_price.price}}</label>
	      <input ng-show="editEnabled" ng-model="part_price.price"/>
		</td>
		<td class="admin_action" ng-hide="editEnabled">
		  <span style="margin-left: 15%;">
		    <img src="/images/pencil_edit.jpg" id="edit_{{part_price.id}}" class="edit_image"  ng-click="editEnabled = !editEnabled"/>
		  </span>
		  <span style="margin-left: 15%;">
		    <img src="/images/minus_red.jpg" id="delete_{{part_price.id}}" class="edit_image" ng-click="deletePartPrice(part_price)"/>
		  </span>
		</td>
		<td ng-show="editEnabled" class="admin_action">
		  <span style="margin-left: 15%;">
		    <img src="/images/right_green.jpg" class="edit_image"  ng-click="editEnabled = !editEnabled; updatePartPrice(part_price)"/>
		  </span>
          <span style="margin-left: 15%;">
			<img src="/images/wrong_red.jpg" class="edit_image" ng-click="editEnabled = !editEnabled; cancelEdit(part_price)"/>
		  </span>
		</td>
	  </tr>
	  <div class="failure" style="position: fixed; margin-top: 5%; margin-left: 20%" ng-show="part_prices.length == 0">
	  	There are no records matching your search parameters.</div>
	</table>
  </div>
</div>

<script type="text/javascript">
	if(role == 'admin')
		$(".admin_action").css('visibility','visible')
</script>
<!--price formatting for amount values-->