<td/>
<%= render 'form' %>
<td>
	<span style="margin-left: 15%;">
		<img src="/images/right_green.jpg" class="edit_image" onclick="PartPrice.createEntity()"/>
	</span>
	<img id="spinner_create" style="display:none" src="/images/spinner.gif"/>
	<span style="margin-left: 15%;">
		<img src="/images/wrong_red.jpg" class="edit_image" onclick="PartPrice.hideCreateRow()"/>
	</span>
</td>
