<!DOCTYPE html>
<html ng-app="kripa">

<head>
<script src="/javascripts/vendorjs/jquery.alphanum.js?2"></script>
<script src="/javascripts/vendorjs/jquery-1.6.1.min.js?2"></script>
<script src="/javascripts/vendorjs/jquery-ui-1.8.15.custom.min.js?2"></script>
<script src="/javascripts/vendorjs/angular.min.js?2"></script>
<script src="/javascripts/application.js?2"></script>
<script src="/javascripts/main.js?2"></script>
<script src="/javascripts/user.js?2"></script>
<script src="/javascripts/part_price.js?2"></script>
<LINK href="/stylesheets/main.css?2" rel="stylesheet" type="text/css">
<title>Kripa</title>
</head>

<body>
  <div style="width: 100%">
    <div ng-controller="SessionCtrl">
      <div class="menu_bar" ng-show="user_name">
        <div id="priceMegaMenuDiv">
          <div ng-repeat="make in ['HAMWORTHY', 'Hatlapa', 'SALAR', 'SPERRE', 'TANABE']" style="padding-bottom: 3%">
 		    <div class="menuLinkMain">{{make}}</div>
		    <div class="menuLinkSub">
		      <span ng-repeat="currency in ['EURO', 'GBP', 'USD']">
			    <a id="price_menu_link" 
			      href="/#part_prices?make={{make}}&currency={{currency}}">{{currency}}</a>
			  </span>
	        </div>
	      </div>	    			
        </div>
		<div class="menu_info">
		  {{user_name}} 
	    </div>
	    <div class="menu_info"> 
	      {{today | date:'dd-MM-yyyy'}}
	    </div>
    	<div id="priceMenuDiv" style="padding-top:5%;padding-bottom:5%; margin-top: 10%; width:100%" 
    	  class="menu_div" onmouseover="showPriceMenuDiv()"> 
	      <a>Prices</a>
	    </div>
	    <div id="adminMegaMenuDiv">
	      <div class="menuLinkSub"><a id="user_mgt_link" href="/#users">USER MANAGEMENT</a></div>
	    </div>
    	<div id="adminMenuDiv" style="padding-top:5%;padding-bottom:5%; margin-top: 10%; width:100%" 
    	  class="menu_div" onmouseover="showAdminMenuDiv()" ng-show="user_isadmin"> 
	      <a>Admin</a>
	    </div>
    	<div style="padding-top:5%;padding-bottom:5%; margin-top: 7%;" class="menu_div"> 
	      <a ng-click="deleteSession()">Logout</a>
		</div>
	  </div>
      <div style="width:30%; margin-left: 40%; margin-top: 10%;" ng-hide="user_name" ng-show="showLogin" ng-enter="createSession(username, password)">
	    <div class="heading">Login</div>
	    <div style="width: 100%; padding-top: 20%">
		  <div style="width: 30%; float: left"><label class="medium">Username</label></div>
		  <div style="width: 40%; float: left"><input type="text" ng-model="username" name="username"/></div>
	    </div>
	    <div style="width: 100%; padding-top: 10%">
	      <span style="width: 30%; float: left"><label class="medium">Username</label></span>
		  <span style="width: 40%; float: left"><input type="password" ng-model="password" name="password"></span>
	    </div>
	    <div style="width:20%; height: 5%; padding-top: 15%; padding-left: 25%">
	      <input type="button" ng-click="createSession(username, password)" value="Login" class="button_link"></input>
	    </div>
      </div>
    </div>
    <div class="main_pane" 
      align="center" ng-show="user_name">
      <div ng-view></div>
    </div>
  </div>
</body>
</html>

<!--//role to be managed
//gneric error msg handling
login link should be click by default on the page-->
